$page-max-width: 80rem; //1280px
$page-min-width: 48rem; //768px

/* header */
$main-header-height: 4rem;

/* navigation */
$main-navigation-width: 16rem;

/* login */
$login-form-width: 480px; //todo

/* font */
$font-family: "Source Sans Pro", sans-serif;
$font-family-headline: "Montserrat", sans-serif;

/* border-radius */
$input-radius: 3px;
$button-radius: 3px;
$card-radius: 3px;
