<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>

</head>
<body>

<label for="search">Device ID: </label><input type="text" id="search"><button onclick="search()">Search</button>

<div id="map" style="height: 600px; width: 800px"></div>

<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        crossorigin=""></script>
<script type="application/javascript">
    let map = L.map('map', {
        center: [51.1642292, 10.4541194],
        zoom: 6
    });

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoicGx1c21pZCIsImEiOiJjanF3cndqY3MxOTdmNDRtaHhzM3d6ZmtmIn0.wdF1uSS0OSPggWzVQGum2Q'
    }).addTo(map);

    let markers = [];
    function search() {
        $.ajax('/position/show/' + $('#search').val(), {
            success: function(result) {
                console.log(result);

                if (result.length === 0) {
                    alert('This device ID doesn\'t exist or has never sent a location.');
                    return;
                }

                for (let marker of markers) {
                    marker.remove();
                }
                markers = [];

                for (let pos of result) {
                    markers.push(L.marker([pos.lat, pos.lon], {
                        title: pos.timestamp
                    }).addTo(map));
                }
            },
            error: function(xhr, status, error) {
                console.error(status, error);
                alert('There was a problem requesting the Device ID. Please try again.');
            }
        });
    }
</script>

</body>
</html>