a {
  font-weight: normal;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

a:-webkit-any-link {
  color: inherit;
}

a:-moz-any-link {
  color: inherit;
}

//.text-link {
//  text-decoration: underline;
//
//  &:hover {
//    color: $primary;
//  }
//}

.link {
  cursor: pointer;
}