.message {
  padding: 1rem;
  margin: 1rem 0;
  color: $main-font-light;
  background-color: $black;
  display: none;

  &.info {
    background-color: $blue-normal;
  }

  &.warning {
    background-color: $warning;
  }

  &.error {
    background-color: $error;
  }

  &.success {
    background-color: $success;
  }
}