.pagination-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 0.5rem;

  .counter {
    line-height: 1.5rem;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.25rem;
    text-align: center;
    color: $input-border;
    border: 1px solid $input-border;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &.disabled {
      opacity: 0.5;
    }

    &:hover {
      color: $main-font-light;
      background-color: $input-border;
    }

    &.current {
      margin: 0;
      color: $main-font-light;
      background-color: $input-border;
    }
  }
}